# ========================
# Node.js / npm
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ========================
# TypeScript
# ========================
dist/
build/
*.tsbuildinfo

# ========================
# Env files
# ========================
.env
.env.*
!.env.example

# ========================
# Logs
# ========================
logs
*.log
*.log.*
log/
pids/
*.pid
*.seed
*.pid.lock

# ========================
# OS-specific
# ========================
.DS_Store
Thumbs.db

# ========================
# Editor / IDE
# ========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ========================
# Jest (Testing)
# ========================
coverage/
.jest/

migrations/
temp/